.card {
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  overflow: hidden;
}
.card-personel-id {
  width: 90%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: gray;
  font-size: 12px;
}

.card-personel-id span {
  color: #33bdbf;
}

.card Image {
  width: 20px;
}

.card-biodata {
  width: 85%;
  line-height: 70%;
  margin-top: 20px;
  font-size: small;
  color: gray;
}

.card-biodata label {
  font-weight: bold;
  color: rgb(110, 110, 110);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 20px;
  }
  .card-personel-id {
    align-self: inherit;
    position: absolute;
    align-self: flex-start;
  }

  .card-biodata {
    width: 400px;
    height: auto;
    line-height: 90%;
    margin-left: 20px;
    font-size: normal;
  }

  .hide-mobile {
    display: none;
  }
}
